.card {
  background-color: #E3E3E3;
  width: max-content;
}
.card .card_txt {
  display: block;
  width: 250px;
  text-align: center;
  padding: 20px 25px;
}
.card_txt h3 {
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.card_txt p {
  font-size: 0.875rem;
}